.App {
  background: rgb(2,4,14);
  background: linear-gradient(90deg, rgba(2,4,14,0.9332107843137255) 0%, rgba(31,39,143,0.9948354341736695) 50%, rgba(24,24,24,0.9248074229691877) 100%);
  height: 110vh; 
}
